body{
    background: #adb0b1; 
      padding: 10px;
}

*{
    box-sizing: border-box;
    font-family: Arial;
   

}

.navbar{
background-color: black;

}
.header{
    padding: 25px;
    background-color: white;
    text-align: center;
}


.nav{
        overflow: hidden;
         background-color: black ;
    }

    .sag{
        float: right;
        width: 25%;
        padding-left: 20px;
    } 
    label {
        font-size: 1rem;
        margin-bottom: 8px;
          display: block;
        background-color:lightgrey;
         font-weight: bold;
    }
    .title-{
        color: darkred;
    }
    .card{
        background-color: white;
        padding: 20px;
        margin-top: 20px;
    
    }
   
    .season-img {
        max-width: 60%; 
        height: auto;
        border-radius: 8px;
      
    }
 
    button{
        background-color:lightblue;
        color: white;
        border-radius: 10px;
        padding: 10px 20px;
        border: none;
        transition: background-color 0.3s ease, transform 0.2s ease;
    
    }
    button:hover{
        background-color: rgb(68, 96, 117);
        transform: scale(1.05);
    }
    button:active {
        background-color: #004085;  
        transform: scale(1); 
    }

    #sonuc-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }
    
    #foto{
    width: 200px;  height: auto; display: block;
    margin: 20px auto;  
     border-radius: 10px; display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: 10px; 
    }

    #foto:hover{
        transform: scale(1.05);
    
    }
 .sonuç{
    margin-top: 20px;
    font-weight: bold;
    color: darkred; 
    background-color: #ddd;
    }

    .footer{
       
        padding: 20px;
        text-align: center;
        margin-top: 20px;
    }
    @media screen and (max-width:800px){
        .sag,.sol{
            width: 100%;
        }
    }
    @media screen and (max-width: 700px){
        .season-img:hover{
            transform: scale(1.15);
        }
        body {
            font-size: 15px;
          }
          .title-{
        font-size: 1rem;
          }
       h5{
            font-size: 1rem;
     
         }
        
    
    }
   
     .footer{
        background-color: #ddd;
        padding: 20px;
        text-align: center;
        margin-top: 20px;
    }
    @media screen and (max-width:800px){
        .sag,.sol{
            width: 100%;
        }
    }
    @media screen and (max-width: 700px){
        .season-img:hover{
            transform: scale(1.15);
        }
        body {
            font-size: 15px;
          }
          .title-{
        font-size: 1rem;
          }
       h5{
            font-size: 1rem;
     
         }
        
    
    }
    